---
const { align = "left" } = Astro.props;
---

<section class="my-16 md:my-20 lg:my-28">
  <div class="container">
    <div class:list={["prose", { "mx-auto": align === "center" }]}>
      <h2>Pellentesque ornare sem lacinia quam venenatis vestibulum</h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
        risus varius blandit sit amet non magna. Praesent commodo cursus magna,
        vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
        laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus
        porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
        dolor auctor.
      </p>
      <h3>Praesent commodo cursus magna scelerisque</h3>
      <p>
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
        risus varius blandit sit amet non magna. Praesent commodo cursus magna,
        vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
        laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus
        porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
        dolor auctor.
      </p>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Vestibum solic dimor</li>
      </ul>
      <p>
        Donec id elit non mi porta gravida at eget metus. <b>Maecenas</b> sed diam
        eget risus varius blandit sit amet non magna. Praesent commodo cursus magna,
        vel scelerisque <a href="#">nisl consectetur</a> et. Vivamus sagittis lacus
        vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus
        porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
        auctor.
      </p>
      <ol>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Vestibum solic dimor</li>
      </ol>
    </div>
  </div>
</section>
