---
import store from "@/store/index";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/poc/Hero.astro";
import Content from "@/components/poc/Content.astro";
import Bento from "@/components/poc/Bento.astro";
import News from "@/components/poc/News.astro";
import RichText from "@/components/poc/Rich-text.astro";
// Get the home page content
const session = store.openSession();
const home = await session
  .query({ indexName: "Content/ByUrl" })
  .whereEquals("url", Astro.url.pathname)
  .firstOrNull();

// Get all labels
const labels = await session.query({ collection: "labels" }).all();
---

<BaseLayout>
  <Hero
    size="large"
    align="left"
    heading="Nästa generations cms"
    text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."
    image="https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    video="https://cdn.shopify.com/videos/c/vp/3c341ae1d8b3490ea0ea6d9682984e2a/3c341ae1d8b3490ea0ea6d9682984e2a.HD-1080p-7.2Mbps-19604077.mp4"
  />
  <Content
    text="<h2>Vi ser till att världen rör sig framåt</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p><p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>"
    imageAlign="right"
    image="https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    background={true}
  />
  <News />
  <Content
    text="<h2>Vi ser till att världen rör sig framåt</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p><p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>"
    imageAlign="left"
    video="https://cdn.shopify.com/videos/c/vp/3c341ae1d8b3490ea0ea6d9682984e2a/3c341ae1d8b3490ea0ea6d9682984e2a.HD-1080p-7.2Mbps-19604077.mp4"
  />
  <Bento />
  <RichText align="left" />
</BaseLayout>
