---
import Analytics from '@vercel/analytics/astro';
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
    <Analytics />
  </head>
  <body class="bg-white flex flex-col">
    <Navigation />
    <main id="main" class="flex-grow"><slot /></main>
    <Footer />
  </body>
</html>
