---
const { text, link } = Astro.props;
---

<a
  href={link}
  class="inline-block bg-emerald-400 text-zinc-900 font-bold px-7 py-4 leading-none rounded-full hover:bg-emerald-200 transition-colors duration-150"
>
  {text}
</a>
